<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MosMetro.Properties.Settings.MetropolitenConnectionString"
            connectionString="Data Source=MSI\MSSQLSERVER03;Initial Catalog=Metropoliten;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="MosMetro.Properties.Settings.MosMetropolitenConnectionString"
            connectionString="Data Source=MSI\MSSQLSERVER03;Initial Catalog=MosMetropoliten;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="MosMetro.Properties.Settings.MosMetroConnectionString"
            connectionString="Data Source=MSI\MSSQLSERVER03;Initial Catalog=MosMetro;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>